services:
  left:
    build: ./bank
    container_name: left_bank
    environment:
      - BANK_NAME=LEFT
      - LISTEN_PORT=5000
      - PEER_HOST=right
      - PEER_PORT=5000
      - INIT_CHARACTERS=farmer,wolf,goat,cabbage
    ports:
      - "5001:5000"   # comodo per debug da host
    networks: [river]

  right:
    build: ./bank
    container_name: right_bank
    environment:
      - BANK_NAME=RIGHT
      - LISTEN_PORT=5000
      - PEER_HOST=left
      - PEER_PORT=5000
      - INIT_CHARACTERS=
    ports:
      - "5002:5000"
    networks: [river]

  controller:
    build: ./controller
    container_name: controller
    environment:
      - LEFT_HOST=left
      - RIGHT_HOST=right
      - PORT=5000
    depends_on: [left, right]
    stdin_open: true
    tty: true
    networks: [river]

networks:
  river:
    driver: bridge

